<div class='panel panel-primary'>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">{{pageTitle}}</h1>
    </div>
  </div>
  <div class='panel-body'>
    <div class='table-responsive'>
      <table class='table table-hover'
             *ngIf='campaigns && campaigns.length'>
        <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Max Total</th>
          <th>Max Per User</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor='let campaign of campaigns' (click)="onRowClick(campaign.id)">
          <td>      {{ campaign.id }}
          </td>
          <td>{{campaign.name}}</td>
          <td [className]="campaign.thresholds.max_total === campaign.current ? 'max-reached' : ''">{{campaign.current}} / {{campaign.thresholds.max_total}}</td>
          <td>{{ campaign.thresholds.max_per_user}} </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div>
  <div class="col-sm-12">
    <button class="btn btn-primary pull-right" (click)="addCampaign()" type="submit">Add Campaign</button>
  </div>
</div>
