<div>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">WALK ME</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item"><a class="nav-link" [routerLink]="['/campaigns']">Campaigns</a></li>
      </ul>
    </div>
  </nav>


  <div class='container'>
    <router-outlet></router-outlet>
  </div>
</div>
