<div class='panel panel-primary'>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">{{pageTitle}}</h1>
    </div>
  </div>

</div>
<div>
  <div class="input-group mb-3 form-field">
    <div class="input-group-prepend">
      <span class="input-group-text" id="name-input">Name</span>
    </div>
    <input type="text" class="form-control"  [(ngModel)]="campaign.name" placeholder="Campaign name..." aria-describedby="name-input">
  </div>

  <div class="input-group mb-3 form-field">
    <div class="input-group-prepend">
      <span class="input-group-text" id="total-max">Max</span>
    </div>
    <input type="number" class="form-control" [(ngModel)]="campaign.thresholds.max_total" placeholder="Total Max Per Campaign" aria-describedby="total-max">
  </div>

  <div class="input-group mb-3 form-field">
    <div class="input-group-prepend">
      <span class="input-group-text" id="max-per-user">Max Per User</span>
    </div>
    <input type="number" class="form-control" [(ngModel)]="campaign.thresholds.max_per_user" placeholder="Max Per User" aria-describedby="max-per-user">
  </div>

  <button type="button" class="btn btn-primary" (click)="addCampaign()">Add Campaign</button>
  <button type="button" class="btn btn-primary" (click)="navigateCampaigns()">Back</button>
</div>
