/* You can add global styles to this file, and also import other style files */
.jumbotron.jumbotron-fluid {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin-top: 10px;
}

.table-hover tbody tr{
  cursor: pointer;
}
